body{
    margin: 0 auto;
}
header{
    background-color: rgb(137, 41, 228);
    display: flex;
    text-align: center;
    padding: 1%;
    justify-content: space-between; /* só funciona com display flex(serve para dar espaçamento nos butões)*/
}       
#box-titulo{
    background-color: rgb(244, 118, 194);
    color: #fff;
    border-radius: 15px;
    text-align: center;
    padding: 1% auto;
    padding-left: 10px;
    padding-right: 10px; 
}
#box-ordenar button,
#box-categoria button{
    background-color: rgb(244, 118, 194);
    color: #fff;
    border:0;
    padding: 10px 20px;
    border-radius: 5px;
    /* Galvan/*
}